/* Estilos generales */


body {
    font-family: sans-serif;
    padding: 10; /* Elimina el relleno predeterminado del cuerpo */

  }
  
  /* Encabezado */
  header {
    background-color:rgb(224, 229, 230);
    padding: 30px;
    text-align: center;
   
  }
  h1{
    color: black;
  }
  
  header img {
    width: 20em; /* Ajusta el ancho de la imagen según sea necesario */
    max-width: 100%; /* La imagen se reduce en pantallas más pequeñas */
  }
  
  /* Opciones de centrado responsivo (elige una): */
  
  /* Opción 1: Usar text-align: center (para imágenes más pequeñas) */
  .header-container { /* Se agregó una clase de contenedor */
    display: inline-block;
    max-width: 100%;
    color: white;
  }
  
  header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  /* Estilos del formulario */
  .formulario {
    padding: 15px;
   
    border: 1px solid #ccc;
    margin: 1%;
    max-width: 600px; /* Establece un ancho máximo para la capacidad de respuesta */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  
  }
 
  /* Ajustes responsivos */
  @media (max-width: 768px) {
    .formulario {
      width: 95%; /* Ajusta el ancho del formulario para pantallas más pequeñas */
    }
  
    input,
    select {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .formulario {
      width: 100%; /* El formulario ocupa todo el ancho en dispositivos móviles */
    }
  }

  

  #take_photo_button {
   
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  #photo_button {
   
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  #take{
   
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }



    /* Definir ancho específico para cada columna */
    #tabla th:nth-child(1), #tabla td:nth-child(1) {
        width: 33.3%;
        
    }

    #tabla th:nth-child(2), #tabla td:nth-child(2) {
        width:33.3%;
    }

    #tabla th:nth-child(3), #tabla td:nth-child(3) {
        width: 33.3%;
    }
/* Estilos básicos para el botón */
#logoutButton {
  display: inline-block;
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  max-width: 500cm; /* Ancho máximo del botón */
  padding: 20px 20px; /* Espaciado interno */
  text-align: center; /* Centra el texto dentro del botón */
  font-size: 1.2em; /* Tamaño de fuente grande */
  color: #fff; /* Color del texto */
  background-color: #dc3545; /* Color de fondo rojo (Bootstrap's .btn-danger) */
  border: none; /* Elimina el borde predeterminado */
  border-radius: 4px; /* Bordes redondeados */
  text-decoration: none; /* Elimina el subrayado */
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

/* Estilo para el botón en estado de hover */
#logoutButton:hover {
  background-color: #c82333; /* Color de fondo rojo más oscuro al pasar el mouse */
}

/* Diseño responsivo */
@media (max-width: 768px) {
  #logoutButton {
      font-size: 1em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
      padding: 10px 15px; /* Menos espaciado interno en pantallas pequeñas */
  }
}

@media (min-width: 769px) {
  #logoutButton {
      font-size: 1.2em; /* Tamaño de fuente normal en pantallas grandes */
      padding: 12px 20px; /* Espaciado interno normal en pantallas grandes */
  }
}

/*------------------MODAL --------------------------*/
.modal {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Se mantiene en su lugar */
  z-index: 1; /* Sobre otras capas */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Permite desplazar si es necesario */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo negro transparente */
  padding-top: 50px; /* Centra el contenido del modal */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal, puedes ajustarlo */
  max-width: 400px; /* Ancho máximo para pantallas pequeñas */
}
